@model List<Uni_hospital.ViewModels.AvailabilityViewModel>

@{
    ViewData["Title"] = "GetAvailabilityInfo";
}

<h1>GetAvailabilityInfo</h1>

@if (Model.Count == 0)
{
  <p>No Doctors Available</p>
}

